

@font-face {
  font-family: MinionPro;
  src:url(fonts/MinionPro-Medium.otf);
}

@font-face {
  font-family: CATChilds;
  src:url(fonts/CATChilds.ttf);
}

@font-face {
  font-family: MORGTN__;
  src:url(fonts/MORGTN__.TTF);
}


#logo {
  box-sizing:border-box;
  display:block;  
  height:55px;       
  width: 90px;
  padding-left: 90px;
  background: url(img/Logo.png);
  background-size: cover;
  margin-left: 10px;
}

.sandbox.sheet .window-content {
  color: #000000; 
  background: url(img/background.jpg) no-repeat; 
  overflow-y: auto; 
}


body {
  font-family: "Signika", sans-serif; 
  font-size: 14px; 
}

.sandbox.sheet .tabs .item {
  font-family: MORGTN__, sans-serif;
  font-weight: bold;
}

.sandbox.sheet .panelheader {
  font-family: CATChilds;
  font-size: 16px; 
  background-color: #580c75de; 
}

.sandbox.sheet [class^="flexblock-"] input {
  font-family: MinionPro;
  font-size: 14px;
  background-color: #a8b3b3;
}

.sandbox.sheet [class^="flexblock-"] td input {
  font-family: MinionPro;
  font-size: 14px;
  background-color: #a8b3b3;
}

.sandbox.sheet .linkable:hover {
    color: #6f1311;
	font-family: MinionPro; 
	font-size: 14px; 
    font-weight: bold; 
}

.sandbox.sheet [class*="label-"] {
  font-family: MinionPro;
  font-size: 14px;
}

.sandbox.sheet thead {
  background-color: #bb9fc2;
}

.sandbox.sheet tr.empty-row {
  background-color: #C0C0C0;
}

tbody.table {
  background-color: #bb9fc2;
}

.sandbox.sheet td {
  font-family: MinionPro;
  font-size: 14px;
}

.roll-result {
  font-family: CATChilds;
  color: rgb(118, 20, 143);
  font-size: 42px;
  padding: 5px 5px;
  height: 70px;
}

.roll-sender-name {
  font-family: "MORGTN__", sans-serif;
  text-transform: uppercase;
}

.app {
  box-shadow: 0 0 20px #7e4444; 
  color: #dfdfdf; 
}

#chat-form textarea {
  background: url(img/pergamino_2.jpg) repeat; 
  font-family: CATChilds; 
  font-size: 16px; 
  color: rgb(0, 0, 0); 
}

.sandbox.sheet .charname input {
    color: #191813;
    font-family: "MORGTN__", sans-serif;
    font-size: 30px;
    font-style: normal;
}

#chat-log .message {
  background: url(img/pergamino_2.jpg) repeat; 
  color: #191813; 
}